{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}

{% block content %}
    <div class="container">
<div class="col-md-6" style="margin: 0 auto;">
    <div class="form-area" style="background-color: #FAFAFA;padding: 10px 40px 60px;margin: 10px 0px 60px;border: 1px solid GREY;">
        <form role="form" method="POST">
        <br style="clear:both">{% csrf_token %}
                    <h3 style="margin-bottom: 25px; text-align: center;">Contact Form</h3>
    				<div class="form-group">
						{{form}}
					</div>
        <button type="submit" id="submit" name="submit" class="btn btn-primary pull-right">Submit Form</button>
        </form>
    </div>
</div>
</div>
{% endblock %}
